@font-face {
  font-family: "Eurostile";
  src: url("https://fluxusgaming.github.io/PORTFOLIO_PROYECTO_DEMO/src/fonts/Eurostile.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  max-width: 100%;
}
.fa-bars {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__logo {
  display: flex;
  font-size: 1.8rem;
  height: fit-content;
  width: fit-content;
}

.navbar__menu {
  display: flex;
  list-style: none;
  height: fit-content;
  width: fit-content;
}

.navbar__menu li {
  text-align: center;
  font-weight: 700;
  margin-right: 10px;
  padding: 18px;
  border-radius: 15px;
  background: #f6f6f6;
}
.navbar__menu a {
  color: #000;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.hero__title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.hero__title h1 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}
.hero__about {
  width: 50%;
  margin: 0 auto;
}
.hero__about p {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #0a0a0ae6;
}
.hero__banner {
  height: auto;
  width: 30%;
  margin: 2rem auto 0 auto;
}
.skills__title {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #7510f7;
  justify-content: center;
}
.skills__title h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.skills__container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.skills__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.5rem;
  width: 60%;
  margin-bottom: 1.5rem;
}
.skills__list i {
  font-size: 100px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
.skills__list i:hover {
  transform: scale(1.5);
}
.fa-html5 {
  color: #f16524;
}
.fa-css3-alt {
  color: #046dbe;
}
.fa-js-square {
  color: #efd81d;
}
.fa-react {
  color: #61dafb;
}
.fa-node-js {
  color: #91c441;
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.projects__title {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #7510f7;
  justify-content: center;
  margin-bottom: 1rem;
}
.projects__title h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 0 auto;
  width: 60%;
}

.project {
  height: 200px;
  width: 100%;
  background: #7510f7;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}
.project:hover {
  transform: scale(1.05);
}
.project h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
}
.contact__title {
  display: flex;
  width: 100%;
  height: 5rem;
  background: #7510f7;
  justify-content: center;
  margin-bottom: 1rem;
}
.contact__title h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.footer {
  padding: 5rem 0;
  width: 100%;
  background: #7510f7;
}
.footer h2 {
  font-family: "Eurostile";
  text-align: center;
  font-weight: 800;
  font-size: 3.5rem;
  color: #fff;
  line-height: 0;
}
.footer p {
  font-family: "Eurostile";
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  opacity: 0.8;
  color: #fff;
  line-height: 0;
}

@media only screen and (max-width: 600px) {
  .hero__about {
    width: 90%;
    margin: 0 auto;
  }
  .projects__list {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
  .skills__list {
    grid-template-columns: 1fr 1fr;
  }
  .pc_vector_svg {
    height: auto;
    width: 80%;
  }
  .footer {
    padding: 2rem 0;
  }
}
