@font-face {
  font-family: "Eurostile";
  src: url("https://fluxusgaming.github.io/PORTFOLIO_PROYECTO_DEMO/src/fonts/Eurostile.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.navbar__burger {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}
.navbar a {
  text-decoration: none;
}

.navbar__logo {
  display: flex;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 30px;
  color: #1c1624;
  height: 100%;
  width: auto;
  margin: 0;
  margin-left: 10px;
  align-items: center;
}

.navbar__logo h2 {
  display: flex;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 30px;
  color: #1c1624;
  height: 100%;
  width: fit-content;
}

.navbar__menu {
  display: flex;
  list-style: none;
  height: fit-content;
  width: fit-content;
}

.navbar__menu li {
  margin: 10px;
}
.navbar__menu a {
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #4b4850;
  height: 100%;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 9rem);
  width: 100%;
  margin-top: 0;
}
.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 3rem;
}
.hero__title h1 {
  font-family: "Permanent Marker";
  font-size: 2.2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.hero__avatar {
  height: fit-content;
  width: fit-content;
}
.hero__about {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
  margin-left: 5rem;
}
.hero__about p {
  color: #5c5c5c;
  font-weight: normal;
  font-size: 1.2rem;
  height: fit-content;
  text-align: left;
}
.hero__banner {
  display: flex;
  height: auto;
  width: 30rem;
  margin: 0 auto 0 auto;
}
.skills__title {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #7510f7;
  justify-content: center;
}
.skills__title h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.skills__container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.skills__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.5rem;
  width: 60%;
  margin-bottom: 1.5rem;
}
.skills__list i {
  font-size: 100px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
.skills__list i:hover {
  transform: scale(1.5);
}
.fa-html5 {
  color: #f16524;
}
.fa-css3-alt {
  color: #046dbe;
}
.fa-js-square {
  color: #efd81d;
}
.fa-react {
  color: #61dafb;
}
.fa-node-js {
  color: #91c441;
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.projects__title {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #7510f7;
  justify-content: center;
  margin-bottom: 1rem;
}
.projects__title h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 0 auto;
  width: 60%;
}

.project {
  height: 200px;
  width: 100%;
  background: #7510f7;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}
.project:hover {
  transform: scale(1.05);
}
.project h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
}
.contact__title {
  display: flex;
  width: 100%;
  height: 5rem;
  background: #7510f7;
  justify-content: center;
  margin-bottom: 1rem;
}
.contact__title h2 {
  font-family: "Eurostile";
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.footer {
  padding: 5rem 0;
  width: 100%;
  background: #7510f7;
}
.footer h2 {
  font-family: "Eurostile";
  text-align: center;
  font-weight: 800;
  font-size: 3.5rem;
  color: #fff;
  line-height: 0;
}
.footer p {
  font-family: "Eurostile";
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;
  line-height: 0;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: sticky;
    background: white;
  }
  .navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #7510f7;
    margin: 0;
    padding: 0;
    top: 4rem;
    height: calc(100vh - 4rem);
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .navbar__menu.active {
    transform: translateX(0);
  }
  .navbar__menu li {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 15px;
    width: 30%;
    text-align: center;
  }
  .navbar__menu a {
    color: #ffffff;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar__burger {
    display: flex;
    align-items: center;
    height: fit-content;
    background: none;
    border: 0;
    margin: auto 1rem;
    outline: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    width: fit-content;
  }
  .navbar__burger:hover {
    opacity: 0.6;
  }
  .navbar__burger .fa-bars {
    color: black;
    font-size: 1.5rem;
  }
  .hero__title {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .hero__title h1 {
    text-align: center;
  }
  .hero__banner {
    height: auto;
    width: 80%;
  }
  .hero__avatar {
    width: 45%;
  }
  .hero__about {
    width: 90%;
    margin: 0 auto;
  }
  .hero__about p {
    text-align: center;
  }

  .projects__list {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    width: 80%;
  }
  .skills__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .pc_vector_svg {
    height: auto;
    width: 80%;
  }
  .footer {
    padding: 2rem 0;
  }
}
